body{
    width: 100%;
    height: 100%;
}
h1{
    padding: 20px;
}

.row{
    margin-bottom: 13%;
}

.col-md-6{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: calc(100% - 20px);
    padding: 13px;
    margin-bottom: 10435px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"], [type="date"], [type="number"]{
    margin: 10px;
}

button {
    width: calc(100% - 20px);
    padding: 10px 50px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #400775;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

img{
    width: 70px;
}

.dropdown{
    margin: 10px;
    width: 20%;
}

input:invalid{
        border-color: red !important;
}
input:valid{
    border-color: rgb(0, 255, 128) !important;
}
